 body.educBackground{
    margin: 0px;
    height: 100vh;
    background: linear-gradient(to right, #3f87a6, #ebf8e1, #f69d3c); /* Linear gradient background */
    display: flex;
    justify-content: center;
    align-items: center;
}

.backGCont{
    width: 70%;
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
    margin:auto;
}

.school{
    padding: 50px;
    margin-top: 100px;
    margin-top: 100px;
    margin: 100px;
    border: 5px solid #333; /* Adjust thickness, style, and color as needed */
}

.schoolDetails{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.schoolImg{
    width: 300px;
    height: 300px;
    margin: auto;
}
 
hr{
    height: 5px;
    background-color: #3f87a6;
}

