.resume{
    background-color: blanchedalmond;
    align-items: center;
    justify-content: center;
}

.resume h2{
    margin: auto;
}

.upperH{
    background-color: rgb(207, 151, 83);
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 1;
    
}

.upperH h2{
    margin: 100px 20px 0 20px;
    font-family: 'Times New Roman', Times, serif;
}

.upperH p{
    margin: 10px 20px 0 20px;
}

.id{
    width: 200px;
    height: 200px;
}

.skills{
    margin-top: 20px;
    background-color: rgb(129, 62, 62);
    justify-content: left;
    padding: 20px;
}

.experience{
    background-color: rgb(207, 151, 83);
}

.project{
    background-color: rgb(129, 62, 62);
}